@import url(/STKRHub-XAMPP/css/header.css);
@import url(/STKRHub-XAMPP/css/footer.css);
@import url(/STKRHub-XAMPP/css/subnav.css);
@import url(/STKRHub-XAMPP/css/make-table.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

p.description {
  font-family: "Lato";
  font-size: 10px;
  font-weight: 100;
  color: #c8c8c8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Compact Display", sans-serif;
  color: #fff;
}

/* main CSS -----------------------------------------------------------------------------*/
main {
  display: flex;
  justify-content: center;

  min-height: 800px;

  background: rgb(15, 16, 32);
  background: linear-gradient(
    180deg,
    rgba(15, 16, 32, 1) 0%,
    rgba(22, 24, 48, 1) 37%
  );
}

a {
  text-decoration: none;
}

/* container main */
.container-main {
  display: flex;
  width: 100%;
}

/* checkout preview */
.checkout-preview {
  width: 100%;
  height: auto;
  overflow-y: scroll;

  padding: 100px;
}

.checkout-preview::-webkit-scrollbar {
  display: none;
}

/* addressses */
.addresses {
    position: relative;
  width: 75%;
  height: auto;

  background: linear-gradient(
    183deg,
    rgba(65, 70, 119, 1) 0%,
    rgba(29, 32, 62, 1) 100%
  );

  padding: 30px;
}
.addresses::-webkit-scrollbar {
  display: none;
}

/* input */
.input {
  width: 100%;
  height: 30px;
  border-radius: 7px;

  font-family: "Lato";
  font-size: 14px;
}

.linea {
  display: flex;
  gap: 10px;
}

/* cancel */
.cancel {
  padding: 7px 14px 7px 14px;
  border-radius: 7px;
  cursor: pointer;

  height: 100%;

  border: #171932;
  background-color: #171932;
  color: #fff;
  font-family: "SF Compact Display", sans-serif;
}

/* end of cancel ----------------------------*/

/* submit ----------------------------*/
.submit {
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 0;

  border: none;
  font-size: 35px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;

  color: #fff;

  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;

    margin: 20px;

  width: auto;
  height: auto;

  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #b85fe8, #28dbe5, #3a88e6, #b85fe8);
  background-size: 300%;
  border-radius: 7px;
  z-index: 1;
}

.submit:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.submit:before {
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  position: absolute;
  background: linear-gradient(90deg, #b85fe8, #28dbe5, #3a88e6, #b85fe8);
  background-size: 400%;
  border-radius: 10px;
  transition: 1s;
}

.submit:hover::before {
  filter: blur(10px);
}

.submit:active {
  background: linear-gradient(32deg, #ffffff, #ffffff, #ffffff, #ffffff);
  /* background: linear-gradient(32deg,#b85fe8,#28dbe5,#3a88e6, #b85fe8); */
}

/* end of add to cart ----------------------------*/
