/* sub nav ----------------------------------------------------*/
#sub-nav{
    height: 30px;
    background: rgb(24,26,49);
    background: linear-gradient(180deg, rgba(24,26,49,1) 0%, rgba(30,33,63,1) 70%, rgba(30,33,63,1) 100%);

    padding-top: 1px;
    padding-left: 57px;

    /* display: none; */
}

nav{
    display: flex;
    align-items: center;
    padding-top: 3px;
}
  
#sub-nav #nav-sub-nav ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 510;
    opacity: .60;
    letter-spacing: .3px;
    font-size: 12px;
}
  
#sub-nav a img{
    padding-left: 7px;
    width: 15px;
}
/* end of sub nav ----------------------------------------------------*/